*{
    padding: 0;
    margin: 0;
    
} 

.container-1{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    background-color: #242D34;
    height: 100vh;
    width: 100%;
    /* border: 1px solid white; */
}

.container-2{
    width: 37.5rem;
    height: 35rem;
    background: black;
    border-radius: 1.3125rem;
    /* border: 1px solid white; */
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.3125rem;
    width: 37.5rem;
    height: 3.3125rem;
    /* border: 1px solid white; */

}

.x-logo{
    height: 2rem;
    width: 2rem;
}

.container-3{
    display: flex;
    justify-content: center;
    /* border: 1px solid white; */
    width: 37.5rem;
    height: 31.6875rem;
}

.container-4{
    width: 19rem;
    height: 31.6875rem;
    /* border: 1px solid white; */
}

.container-5 {
    margin: 1rem 0rem 0rem;
    /* border: 1px solid white; */
    height: 4.25rem;
    width: 19rem;
    color: rgb(231, 233, 234);
    font-size: 2rem;
}

.container-5_1{
    width: 19rem;
    /* border: 1px solid white; */
    height: 1.857rem;
    margin: 1.1875rem 0rem 0rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.container-6{
    margin: 0.3rem 0.125rem 1.2rem ;
    /* border: 1px solid white; */
    height: 2.375rem;
    width: 19rem;
    
}
 .container-7, .container-10{
    margin: 0.6875rem 0.125rem 1.2rem ;
    /* border: 1px solid white; */
    height: 2.375rem;
    width: 19rem;
    
}

.my-button{
    border-radius: 3.125rem;
    width: 19rem;
    height: 2.375rem;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    border: 0.1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-size{
    font-size: 1.2rem;
    padding-right: 0.3rem;
}

.google-logo{
    height: 1rem;
    width: 1rem;
    margin-right: 0.3rem ;
    
}

.container-8{
    width: 19rem;
    height: 1.1875rem;
    /* border: 1px solid white; */
    display: flex;
}

.container-8_1{
    width: 8.3125rem;
    height: 1.1875rem;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container-8_2{
    width: 2.375rem;
    height: 1.1875rem;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: rgb(231, 233, 234);
    font-size: 1rem;
    font-weight: 400;
}

.container-8_3{
    width: 8.3125rem;
    height: 1.1875rem;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.my-hr-tag{
    border-color: rgba(51, 54, 57,0.4); 
}

.container-9{
    width:  19rem;
    height: 4rem;
    padding: 0.75rem 0rem;
    /* border: 1px solid white; */
}

.container-9_1{
    width:  18.7rem;
    height: 3.5rem;
    background-color: black;
    font-size: 1.1rem;
    border: 1px solid rgba(51, 54, 57,0.9);
}

.container-11{
    margin: 0.6875rem 0.125rem  ;
    /* border: 1px solid white; */
    height: 2.375rem;
    width: 19rem;
    background-color: black;
}

.my-button_1{
    border-radius: 3.125rem;
    width: 19rem;
    height: 2.375rem;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: white;
    background-color: black;
    border: 0.1px solid rgba(255,255,255,0.3);
    cursor: pointer;
}

.container-12{
    margin-top: 3rem;
    /* border: 1px solid white; */
    height: 1.25rem;
    width: 19rem;
    font-size:  1.25rem;
    color: #4A4E51;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size:  1rem;
}

.sign_up{
    color: #1B8FDE; 
    font-size:  0.9rem;
}

